<!DOCTYPE html>
<html>
<head>
  <title>Hisab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
<div class="wrapper">
<div class="header">
	<h2><%= link_to 'Hisab' ,root_url %> </h2>
</div>
<div class="content">
  <%= yield %>
</div>

</div>
</div>
</body>
<div class="footer">
	<center> Developed by Nikita Singh</center>
	</div>
</html>
